#productTable img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

table td:first-child {
  min-width: 6em; /* 设置最小宽度，6个字宽度 */
  white-space: nowrap; /* 禁止换行 */
}

/* 表格容器，允许水平滚动 */
.table-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* 支持移动设备上的惯性滚动 */
  width: 100%; /* 自适应父容器宽度 */
}

/* 表格的样式 */
table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px; /* 设置最小宽度以支持多列 */
}

th,
td {
  padding: 8px 12px;
  border: 1px solid #ccc;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

/* 移动设备上的表格样式 */
@media (max-width: 600px) {
  th,
  td {
    padding: 6px 8px;
  }

  table td:first-child {
    min-width: 6em; /* 设置最小宽度为6个字的宽度 */
    white-space: nowrap; /* 确保不会换行 */
  }
}
